.form-control-chgPwd {
  padding: 10px;

} 

.main-div-chgPwd {
  height: 100%;
  align-items: center;
  margin-top: 4%;
  
}
.chgPwd-wrapper {
 
  width: 25rem;
  padding: 10px;
  align-items: center;
}



