.form-control-chgPwd {
  padding: 10px;

} 

.main-div-chgPwd {
  height: 100%;
  align-items: center;
  margin-top: 4%;
  padding: 60px;
  
}
.chgPwd-wrapper {
 
  width: 25rem;
  padding: 10px;
  align-items: center;
}

.chgPwd-title {
  font-weight: 600;
  padding: 4px;
  margin-top: 5px;
}



