.main-div-followCard{
  padding: 60px;
  margin-top : 50px;
}
.follow-parent {
 
  height: 100%;
}

.following-card {
    width: 28rem;
  padding: 0px;
}

.follow-header {
  text-align: center;
}

.follow-handle {
  text-decoration: none;
  color: black;
}