.main-div-fgtPwd{
 
  height:100%;
  justify-content: center;
  align-items: center;
  margin-top: 90px;

}

.card-fgtpwd {

  text-align: center;
  width: 25rem;
  padding: 20px;
  align-items: center;
  position: relative;

}

.img-lock {
 
  width: 96px;
  height: 96px;
}

hr { 
    width: 115px;
    color: grey;
}

.line {
  float: left;
}

.line-or {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  font-weight: bold;
  color:#808080;
}

.line-div {
  margin-top: 40px;
}

.new-acct {
  margin-top: 5px;
  margin-bottom: 100px;
  color: black;
  text-decoration: none;
  font-size: 15px;
}

.div-back-login {
  border:1px solid #EAEAEA;
  background-color:#FBFBFB;
  width: 25rem;
  height: 2.75rem;
  position: absolute;
  bottom:0;
}

.back-login {
  color:#000;
  text-decoration: none;
  font-size: 15px;
}

.back-login:hover {
  color: #000;
}

.btn-primary{
  border-radius: 5px;
  width: 18rem;
  height:2rem;
  margin-top: 15px;
  background-color:#0095f6;
  text-align: center;
  vertical-align: middle;
  padding: 0px;
  align-self: center;
}