.home-main-div {
  padding: 65px;
}

.card-posts {
  width: 550px;
  flex-direction: column;
  margin-top: 1%;
  margin-left:20px;
  
  
}

.img-posts-home {
  padding: 2px;
  width:  550px;
  height: 550px;
  object-fit: cover;
}

.home-comment {
  width: 30rem;
}

.div-suggestions {
  
  width: 18rem;
  
}

.suggestions-card {
  margin-top: 1%;
  width: 20rem;
 
}
.suggestions-header {
margin-bottom: 15px;
}

.suggestion-title {
  font-weight: 700;
  padding: 4px;
  margin-bottom: 12px;
  display: inline;
}

.suggestion-title-All{
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
  color: #000000 !important;
  display: inline;
  padding: 5px;
  float: right;
  
}
.suggestion-handle {
  font-weight: 700;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
  
  padding: 5px ;
}

.suggestion-image {
  width: 25px;
  margin-bottom: 12px;
  margin-right: 8px;
}

.suggestion-link {
  text-decoration: none;
  color:black;
}

.span-sggn-follow {
  padding: 2px;
  font-weight: 700;
  font-size: 13px;
  float: right;
}

.profile-card {
  width: 20rem;
}
.avatar-user {
  width: 55px;
  padding: 2px;
  margin-right: 20px;
}

.user-handle {
  font-weight: 700;
  font-size: 15px;
}
/** Media Query **/
@media (max-width: 600px) {
  .suggestions-card {
    display:none;
  }
}