.main-div-home {
  border: 1px solid;
  
  justify-content: center;

}

.card-posts {
  width: 550px;
  flex-direction: column;
  margin: 2% 20%;
  
}

.img-posts-home {
  padding: 2px;
  width:  550px;
  height: 550px;
  object-fit: cover;
}

.home-comment {
  width: 30rem;
}

.div-suggestions {
  display: inline;
  width: 18rem;
  
}


/** Media Query **/
@media (max-width: 600px) {
  .div-suggestions {
    display:none;
  }
}