.brand-name {
  font-weight: bold;
  font-family: 'MonteCarlo', cursive;
  
}

.img-navbar {
  width: 30px;
  height: 24px;
}

.navbar{
  background-color:white;
  border-bottom:1px solid #808080;
 
}