.main-div {

  margin: auto;
  display: flex;
  flex-flow: column;
}
.row-top {
  display: flex;
  flex-flow: row;
  flex-direction: row;
  margin-left:20%;
 
  
 
  
}
.row-bottom {
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  padding-top: 10px;
 
  margin-left:15%;
  margin-right:13%;
  border-top:1px solid #BCBBBB;
  

}

.img-div {
  
  display: flex;
  margin: 15px 25px; 
  display: flex;
  
}

.details-div {
  margin-top:10px;
  margin-left: 30px;
  padding: 10px;
  
  
 
}

.profile-picture {

  height: 160px;
  width: 160px;
  border-radius:80px;
  flex-shrink: 4;
  
}


.profile-handle {
  display: inline;
}

.btn-edit-profile{
  margin-left: 20px;
  background: none;
  width: 100px;
  border: 0.5px solid grey;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;

}

btn-edit-profile:hover {
  
}

.img-settings {
  margin-left: 20px;
  width: 25px;
  height: 25px;
}

.div-name {
  font-weight: 600;
  margin-top: 20px;
  display: block;
}

.div2 {
  margin-top : 15px;
  display: flex;
  flex-flow:row wrap;
}

.span-msg {
  margin-right: 15px;
}

.line {
  width:100%;
  margin: 20px;
  color:slategrey
}

.img-gallery{
  width: 32%;
  margin: 10px 5px;
  padding: 5px;
  object-fit: cover;
}

h5{
  display: block;
}