.main-div-register {
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  position: relative;
}

.form-control-register{
  padding: 10px;
}

.register-wrapper{
 
  width: 25rem;
  padding: 10px;
  align-items: center;
  margin-bottom: 50px;

}

.card-title {
  text-align: center;
  font-weight: bold;
  font-family: 'MonteCarlo', cursive;
  
}



.btn-primary{
  border-radius: 5px;
  width: 20rem;
  height:2rem;
  margin-top: 15px;
  background-color:#0095f6;
  text-align: center;
  vertical-align: middle;
  padding: 0px;
  align-self: center;
}


.div-back-login {
  border:1px solid #EAEAEA;
  width: 25rem;
  height: 2.75rem;
  position: absolute;
  bottom:0;
  padding: 5px;
  
}

.back-login {
  color:#000;
  text-decoration: none;
  font-size: 15px;
}

.back-login:hover {
  color: #000;
}

.p-text {
  color: grey;
  font-weight: bold;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
